In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
df=pd.read_csv('Data.csv')

In [11]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [12]:
df.drop('Item_Identifier',axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7816 entries, 0 to 7815
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                7816 non-null   float64
 1   Item_Fat_Content           7816 non-null   object
 2   Item_Type                  7816 non-null   object
 3   Item_MRP                   7816 non-null   float64
 4   Outlet_Identifier          7816 non-null   object
 5   Outlet_Establishment_Year  7816 non-null   int64
 6   Outlet_Size                7816 non-null   object
 7   Outlet_Location_Type       7816 non-null   object
 8   Outlet_Type                7816 non-null   object
 9   Item_Outlet_Sales          7816 non-null   float64
 10  Sales_Boxcox               7816 non-null   float64
 11  VisSqrt                    7816 non-null   float64
dtypes: float64(5), int64(1), object(6)
memory usage: 732.9+ KB

In [13]:
df['Outlet_Establishment_Year']=df['Outlet_Establishment_Year'].astype(str)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7816 entries, 0 to 7815
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                7816 non-null   float64
 1   Item_Fat_Content           7816 non-null   object
 2   Item_Type                  7816 non-null   object
 3   Item_MRP                   7816 non-null   float64
 4   Outlet_Identifier          7816 non-null   object
 5   Outlet_Establishment_Year  7816 non-null   object
 6   Outlet_Size                7816 non-null   object
 7   Outlet_Location_Type       7816 non-null   object
 8   Outlet_Type                7816 non-null   object
 9   Item_Outlet_Sales          7816 non-null   float64
 10  Sales_Boxcox               7816 non-null   float64
 11  VisSqrt                    7816 non-null   float64
dtypes: float64(5), object(7)
memory usage: 732.9+ KB

In [15]:
from scipy import stats
from scipy.special import boxcox, inv_boxcox

In [17]:
df=df[['Item_Weight', 'Item_Fat_Content', 'Item_Type', 'Item_MRP', 'VisSqrt',
       'Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size',
       'Outlet_Location_Type', 'Outlet_Type','Sales_Boxcox']]

In [18]:
df

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,VisSqrt,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Sales_Boxcox
0,9.30000,Low Fat,Dairy,249.8092,0.126678,OUT049,1999,Medium,Tier 1,Supermarket Type1,59.192949
1,5.92000,Regular,Soft Drinks,48.2692,0.138846,OUT018,2009,Medium,Tier 3,Supermarket Type2,24.582341
2,17.50000,Low Fat,Meat,141.6180,0.129461,OUT049,1999,Medium,Tier 1,Supermarket Type1,46.870049
3,13.65000,Regular,Snack Foods,57.6588,0.112876,OUT013,1987,High,Tier 3,Supermarket Type1,22.036668
4,11.94125,Low Fat,Snack Foods,107.7622,0.357029,OUT027,1985,Medium,Tier 3,Supermarket Type3,60.985079
...,...,...,...,...,...,...,...,...,...,...,...
7811,6.86500,Low Fat,Snack Foods,214.5218,0.238293,OUT013,1987,High,Tier 3,Supermarket Type1,52.533003
7812,8.38000,Regular,Baking Goods,108.1570,0.216754,OUT045,2002,High,Tier 2,Supermarket Type1,26.919984
7813,10.60000,Low Fat,Health and Hygiene,85.1224,0.187580,OUT035,2004,Small,Tier 2,Supermarket Type1,37.204934
7814,7.21000,Regular,Snack Foods,103.1332,0.381078,OUT018,2009,Medium,Tier 3,Supermarket Type2,44.492021
7815,14.80000,Low Fat,Soft Drinks,75.4670,0.211845,OUT046,1997,Small,Tier 1,Supermarket Type1,30.950641

In [26]:
df['Item_Outlet_Sales_Boxcox'],parameters=stats.boxcox(df['Item_Outlet_Sales'])

In [27]:
parameters

0.3854186331879921

In [28]:
df['Item_Outlet_Sales_Inv_Boxcox']=inv_boxcox(df['Item_Outlet_Sales_Boxcox'],0.3854186331879921)

In [33]:
df.drop(columns=['Item_Outlet_Sales','Item_Outlet_Sales_Boxcox','Item_Outlet_Sales_Inv_Boxcox'],inplace=True)

### ML

In [20]:
df

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,VisSqrt,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Sales_Boxcox
0,9.30000,Low Fat,Dairy,249.8092,0.126678,OUT049,1999,Medium,Tier 1,Supermarket Type1,59.192949
1,5.92000,Regular,Soft Drinks,48.2692,0.138846,OUT018,2009,Medium,Tier 3,Supermarket Type2,24.582341
2,17.50000,Low Fat,Meat,141.6180,0.129461,OUT049,1999,Medium,Tier 1,Supermarket Type1,46.870049
3,13.65000,Regular,Snack Foods,57.6588,0.112876,OUT013,1987,High,Tier 3,Supermarket Type1,22.036668
4,11.94125,Low Fat,Snack Foods,107.7622,0.357029,OUT027,1985,Medium,Tier 3,Supermarket Type3,60.985079
...,...,...,...,...,...,...,...,...,...,...,...
7811,6.86500,Low Fat,Snack Foods,214.5218,0.238293,OUT013,1987,High,Tier 3,Supermarket Type1,52.533003
7812,8.38000,Regular,Baking Goods,108.1570,0.216754,OUT045,2002,High,Tier 2,Supermarket Type1,26.919984
7813,10.60000,Low Fat,Health and Hygiene,85.1224,0.187580,OUT035,2004,Small,Tier 2,Supermarket Type1,37.204934
7814,7.21000,Regular,Snack Foods,103.1332,0.381078,OUT018,2009,Medium,Tier 3,Supermarket Type2,44.492021
7815,14.80000,Low Fat,Soft Drinks,75.4670,0.211845,OUT046,1997,Small,Tier 1,Supermarket Type1,30.950641

In [21]:
X=df.drop(['Sales_Boxcox'],axis=1)
y=df['Sales_Boxcox']

In [22]:
X

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,VisSqrt,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,9.30000,Low Fat,Dairy,249.8092,0.126678,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,5.92000,Regular,Soft Drinks,48.2692,0.138846,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,17.50000,Low Fat,Meat,141.6180,0.129461,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,13.65000,Regular,Snack Foods,57.6588,0.112876,OUT013,1987,High,Tier 3,Supermarket Type1
4,11.94125,Low Fat,Snack Foods,107.7622,0.357029,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...
7811,6.86500,Low Fat,Snack Foods,214.5218,0.238293,OUT013,1987,High,Tier 3,Supermarket Type1
7812,8.38000,Regular,Baking Goods,108.1570,0.216754,OUT045,2002,High,Tier 2,Supermarket Type1
7813,10.60000,Low Fat,Health and Hygiene,85.1224,0.187580,OUT035,2004,Small,Tier 2,Supermarket Type1
7814,7.21000,Regular,Snack Foods,103.1332,0.381078,OUT018,2009,Medium,Tier 3,Supermarket Type2
7815,14.80000,Low Fat,Soft Drinks,75.4670,0.211845,OUT046,1997,Small,Tier 1,Supermarket Type1

In [23]:
y

0       59.192949
1       24.582341
2       46.870049
3       22.036668
4       60.985079
          ...
7811    52.533003
7812    26.919984
7813    37.204934
7814    44.492021
7815    30.950641
Name: Sales_Boxcox, Length: 7816, dtype: float64

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=2)

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score,mean_absolute_error

from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor,ExtraTreesRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

In [26]:
cat=df.select_dtypes(object).columns
cat

Index(['Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [27]:
total=0
for i in cat:
    total+=len(df[i].unique())
    print(i,f'has {len(df[i].unique())} labels :: {df[i].unique()}')
    print()
    print()
total-=len(cat)
print(f'total one hot encoded variables are {total}')

Item_Fat_Content has 5 labels :: ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']


Item_Type has 16 labels :: ['Dairy' 'Soft Drinks' 'Meat' 'Snack Foods' 'Frozen Foods'
 'Fruits and Vegetables' 'Breakfast' 'Health and Hygiene' 'Hard Drinks'
 'Baking Goods' 'Household' 'Canned' 'Breads' 'Starchy Foods' 'Others'
 'Seafood']


Outlet_Identifier has 10 labels :: ['OUT049' 'OUT018' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046' 'OUT035'
 'OUT019' 'OUT010']


Outlet_Establishment_Year has 9 labels :: ['1999' '2009' '1987' '1985' '2002' '2007' '1997' '2004' '1998']


Outlet_Size has 3 labels :: ['Medium' 'High' 'Small']


Outlet_Location_Type has 3 labels :: ['Tier 1' 'Tier 3' 'Tier 2']


Outlet_Type has 4 labels :: ['Supermarket Type1' 'Supermarket Type2' 'Supermarket Type3'
 'Grocery Store']


total one hot encoded variables are 43

In [46]:
df['Outlet_Establishment_Year'].unique()

array(['1999', '2009', '1987', '1985', '2002', '2007', '1997', '2004',
       '1998'], dtype=object)

### Linear Regressor

In [50]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = LinearRegression()

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.681897724752426
MAE 6.872736667344897

In [51]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = Ridge(alpha=10)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.6814639819472221
MAE 6.874956418193333

In [52]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = Lasso(alpha=0.001)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.6819350551879255
MAE 6.872222321573811

In [53]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = KNeighborsRegressor(n_neighbors=3)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.44900364316427965
MAE 8.858632433718864

In [67]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = DecisionTreeRegressor(max_depth=8)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.6760123824669328
MAE 6.847747749819685

In [28]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = SVR(kernel='rbf',C=10000,epsilon=0.1)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.7001100498317454
MAE 6.53323613022863

In [69]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = RandomForestRegressor(n_estimators=100,
                              random_state=3,
                              max_samples=0.5,
                              max_features=0.75,
                              max_depth=15)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.6923570695576247
MAE 6.692340211409113

In [70]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = ExtraTreesRegressor(n_estimators=100,
                              random_state=3,
                              max_samples=0.5,
                              max_features=0.75,
                              max_depth=15,
                              bootstrap=True)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.6923257478893525
MAE 6.704495644743315

In [71]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = AdaBoostRegressor(n_estimators=15,learning_rate=1.0)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.6380996328208052
MAE 7.439928226867452

In [72]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = GradientBoostingRegressor(n_estimators=500)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.6783623991291269
MAE 6.7960136403545395

In [73]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')

step2 = XGBRegressor(n_estimators=45,max_depth=5,learning_rate=0.5)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.6606817838998534
MAE 6.9865057314717305

In [74]:
from sklearn.ensemble import VotingRegressor,StackingRegressor

step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),cat)
],remainder='passthrough')


rf = RandomForestRegressor(n_estimators=350,random_state=20,max_samples=0.5,max_features=0.75,max_depth=15,bootstrap=True)
gbdt = GradientBoostingRegressor(n_estimators=100,max_features=0.5)
xgb = XGBRegressor(n_estimators=25,learning_rate=0.3,max_depth=5,bootstrap=True)
et = ExtraTreesRegressor(n_estimators=100,random_state=20,max_samples=0.5,max_features=0.75,max_depth=10,bootstrap=True)

step2 = VotingRegressor([('rf', rf), ('gbdt', gbdt), ('xgb',xgb), ('et',et)],weights=[5,1,1,1])

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

[23:09:20] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-08de971ced8a8cdc6-1/xgboost/xgboost-ci-windows/src/learner.cc:767:
Parameters: { "bootstrap" } are not used.

R2 score 0.6985216164008239
MAE 6.603599396257407

In [29]:
df

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,VisSqrt,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Sales_Boxcox
0,9.30000,Low Fat,Dairy,249.8092,0.126678,OUT049,1999,Medium,Tier 1,Supermarket Type1,59.192949
1,5.92000,Regular,Soft Drinks,48.2692,0.138846,OUT018,2009,Medium,Tier 3,Supermarket Type2,24.582341
2,17.50000,Low Fat,Meat,141.6180,0.129461,OUT049,1999,Medium,Tier 1,Supermarket Type1,46.870049
3,13.65000,Regular,Snack Foods,57.6588,0.112876,OUT013,1987,High,Tier 3,Supermarket Type1,22.036668
4,11.94125,Low Fat,Snack Foods,107.7622,0.357029,OUT027,1985,Medium,Tier 3,Supermarket Type3,60.985079
...,...,...,...,...,...,...,...,...,...,...,...
7811,6.86500,Low Fat,Snack Foods,214.5218,0.238293,OUT013,1987,High,Tier 3,Supermarket Type1,52.533003
7812,8.38000,Regular,Baking Goods,108.1570,0.216754,OUT045,2002,High,Tier 2,Supermarket Type1,26.919984
7813,10.60000,Low Fat,Health and Hygiene,85.1224,0.187580,OUT035,2004,Small,Tier 2,Supermarket Type1,37.204934
7814,7.21000,Regular,Snack Foods,103.1332,0.381078,OUT018,2009,Medium,Tier 3,Supermarket Type2,44.492021
7815,14.80000,Low Fat,Soft Drinks,75.4670,0.211845,OUT046,1997,Small,Tier 1,Supermarket Type1,30.950641

In [30]:
import pickle

pickle.dump(df,open('df.pkl','wb'))
pickle.dump(pipe,open('pipe.pkl','wb'))

In [22]:
type(query)

numpy.ndarray

In [23]:
query

array([['Item_Weight', 'Item_Fat_Content', 'Item_Type', 'Item_MRP',
        'VisSqrt', 'Outlet_Identifier', 'Outlet_Establishment_Year',
        'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']],
      dtype='<U25')

In [46]:
query

array(['Item_Weight', 'Item_Fat_Content', 'Item_Type', 'Item_MRP',
       'VisSqrt', 'Outlet_Identifier', 'Outlet_Establishment_Year',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'], dtype='<U25')

In [50]:
arr=np.array([4,'Low Fat','Dairy',30,0.02,'OUT046','1997','Medium','Tier 1','Supermarket Type1'])
arr

array(['4', 'Low Fat', 'Dairy', '30', '0.02', 'OUT046', '1997', 'Medium',
       'Tier 1', 'Supermarket Type1'], dtype='<U32')

In [51]:
arr = arr.reshape(1,10)

In [52]:
arr

array([['4', 'Low Fat', 'Dairy', '30', '0.02', 'OUT046', '1997',
        'Medium', 'Tier 1', 'Supermarket Type1']], dtype='<U32')

In [54]:
pipe.predict(arr[0])

ValueError: X does not contain any features, but ColumnTransformer is expecting 10 features

In [33]:
ls=[4,'Low Fat','Dairy',30,0.02,'OUT046','1997','Medium','Tier 1','Supermarket Type1']
ls

[4,
 'Low Fat',
 'Dairy',
 30,
 0.02,
 'OUT046',
 '1997',
 'Medium',
 'Tier 1',
 'Supermarket Type1']

In [34]:
pipe.predict(ls)

ValueError: Expected 2D array, got 1D array instead:
array=[4 'Low Fat' 'Dairy' 30 0.02 'OUT046' '1997' 'Medium' 'Tier 1'
 'Supermarket Type1'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.